html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    visibility: hidden;
}

h1{
    position: absolute;
    color: white;
    margin: 0;
    top: 3vh;
}

h2{
    position: relative;
    margin: 0;
    color:goldenrod;
    top: 1.3vh;
}

header{
    display: flex;
    justify-content: center;
    background-image: repeating-linear-gradient(-45deg,
                        #0B54A3 0 10px,
                        #034EA1 10px 20px);
    margin-top: 0;
    height: 10%;
    box-shadow: inset 0px -3px 0px 0px gold;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-background{
    display: flex;
    height: 90%;
    width: 100%;
    background-image: url(wall.jpg);
}

#bookshelf{
    display: grid;
    grid-template-areas:'book1 book2 book3 book4'
                        'book5 book6 book7 book8';
    position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    gap: 5% 2%;
}

.addBook{
    position: relative;
    height: 3em;
    left: 50%;
}