html,
body,
ul,
.material-icons{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

.topTitle{
    margin: 0;
    color:#FFDA87;
    font-size: 1.6em;
    line-height:0.7em;
    font-weight: 700;
    text-decoration: underline;
}

.btmTitle{
    color: white;
    margin: 0;
    font-size: 1.6em;
}

a {
    color: inherit;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    background-image: repeating-linear-gradient(-45deg,
                        #0B54A3 0 10px,
                        #034EA1 10px 20px);
    margin-top: 0;
    height: 10%;
    box-shadow: inset 0px -3px 0px 0px #FFDA87;
}

#main-background{
    display: flex;
    height: 90%;
    width: 100%;
    background-image: url(wall.jpg);
}

#bookshelf{
    display: grid;
    grid-template-areas:'book1 book2 book3 book4'
                        'book5 book6 book7 book8';
    position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    gap: 5% 2%;
}

#addBtn{
    position: relative;
    left: 5%;
    top: 5%;
    font-size: 2.5em;
    background-image:linear-gradient(135deg, #2dcadf, #487fe6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-weight: 900;
    opacity: 0.9;
    transition: transform 0.25s, opacity 0.25s, box-shadow;
}

#addBtn:hover{
    transform: rotate(90deg) scale(1.2);
    opacity: 1;
    box-shadow: 0 0 0.5em 0 #4666FF;
}

#titleGrid{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    text-align: center;
}

#bookForm{
    background-color: white;
    height: 60%;
    margin: auto;
}

#formBackground{
    position: absolute;
    display: flex;
    background-color:rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    justify-content: center;
    visibility: hidden;
}
